*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}
body{
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: sans-serif;
     background-color: rgb(10, 10, 10);
     height: 100vh;
}
.card_container{
    position: relative;
    width: 320px;
    padding: 40px;
    background: white;
    overflow: hidden;

}
.card_container:before{
    content:"";
    position:absolute;
    left:0;
    bottom: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    z-index: 1;
    transition: 1s;
}
.card_container::after{
    content:"";
    position:absolute;
    left:0;
    top: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    z-index: 1;
    transition: 1s;
}
.card_container:hover::before{
    bottom: 0;
}
.card_container:hover::after{
    top: 0;
}


.content{
    position: relative;
    color: black;
    z-index: 2;
    transition: 1s;

} 
h2{
    font-size: 30px;
}
p{
    line-height: 18px;
    padding: 20px 0;
    margin: 20px 0;
    text-align: justify;
}
a{
    font-size: 12px;
    text-decoration: none;
    color: white;
    background-color: royalblue;
    padding: 10px 5px;
}
.card_container:hover .content{
    color: black;
}