 * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      background: crimson;
      font-family: sans-serif;
    }

    #accordion {
      margin: 100px auto;
      width: 600px;
    }

    #accordion li {
      list-style: none;
      width: 100%;
      margin-bottom: 10px;
      background: #fff;
      padding: 10px;
      border-radius: 5px;
    }

    #accordion li label {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      color: black;
      cursor: pointer;
    }

    #accordion li label span {
      transition: transform 0.3s ease;
      font-size: 28px;
      transform: rotate(90deg);
      color: black;
    }

    #accordion input[type="radio"] {
      display: none;
    }

    #accordion .content {
      padding: 0 10px;
      line-height: 26px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
 
     
    #accordion input[type="radio"]:checked ~ .content {
      max-height: 400px;
      margin-top: 10px;
    }

    
    #accordion input[type="radio"]:checked ~ label span {
      transform: rotate(270deg);
    }